<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.abhinav_suthar.gallery">
    //Uses-Permission
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.developer.abhinav_suthar.gallery.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.developer.abhinav_suthar.gallery.Photo1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.developer.abhinav_suthar.gallery.Photo2"
            android:largeHeap="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity
            android:name="com.developer.abhinav_suthar.gallery.Video1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.developer.abhinav_suthar.gallery.Video2"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.developer.abhinav_suthar.gallery.extras.GenericFileProvider"
            android:authorities="${applicationId}.com.developer.abhinav_suthar.gallery.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.developer.abhinav_suthar.gallery.About" />

        <service
            android:name="com.developer.abhinav_suthar.gallery.extras.BackgroundVideoPlay"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>